<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Acceso</title>
</head>

<body>

	<div style="margin-left: 20%; width: 60%;">
		<h1>Bienvenido !</h1>

		<form th:action="@{/login}" th:object="${userLogin}" method="post">
			<p th:if="${errors}" th:text="${errors}"></p>
			<div class="form-group">
				<label for="codigo">Correo</label>
				<input th:field="*{email}" type="email" name="usuario" placeholder="Ingrese su email" class="form-control">
			</div>
			<br>
			<div class="form-group">
				<label for="codigo">Contraseña</label>
				<input th:field="*{password}" type="password" name="clave" placeholder="Ingrese su clave" class="form-control">
			</div>
			<br>
			<button class="btn btn-primary" type="submit">Ingresar</button>
			<button class="btn btn-secondary" type="button">Registrar</button>
		</form>

	</div>


</body>

</html>